<div class="container" id="project_menu_container">
  <div class="columns">
    <div class="column col-12">
      <ul class="tab tab-block">

        <% if params[:controller] == 'projects' && params[:action] == 'show' %>
          <li class="tab-item active">
        <% else %>
          <li class="tab-item">
        <% end %>
          <%= link_to project_path(@project.slug) do %>
            <i class="fa fa-dashboard"></i>
            Projet
          <% end %>
        </li>

        <% if params[:controller] == 'tasks' %>
          <li class="tab-item active">
        <% else %>
          <li class="tab-item">
        <% end %>
          <%= link_to tasks_path(@project.slug) do %>
            <i class="fa fa-tasks"></i>
            Tâches
          <% end %>
        </li>

        <li class="tab-item">
          <a href="#">
            <i class="fa fa-file"></i>
            Documents
          </a>
        </li>
        <li class="tab-item">
          <a href="#">
            <i class="fa fa-cogs"></i>
            Paramètres
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
