<ul class="menu">
  <li class="menu-item">
    <% _class = params[:controller] == 'settings/members' ? 'active': '' %>

    <%= link_to settings_members_path(@project.slug), class: _class do %>
      Members
    <% end %>
  </li>

  <li class="menu-item">
    <% _class = params[:controller] == 'settings/task_labels' ? 'active': '' %>

    <%= link_to settings_task_labels_path(@project.slug), class: _class do %>
      Task labels
    <% end %>
  </li>
</ul>
